/* body {
 color: white;
} */

.top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(230, 134, 206);
  height: 400px;
}

.box {
  width: 97%;
  margin: auto;
  border: 2px solid;
  background-color: rgb(230, 134, 206);
}

.innerbox {
  background-color: gray;
}

.image {
  width: 500px;
  height: 370px;
}
