.holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.innerdiv {
  display: flex;
  flex-direction: column;
  max-width: 150px;

  /* align-items: baseline; */
  background-color: rgb(230, 134, 206);
  margin: 5px;
  border-radius: 20px;
}

.flag {
  width: 100%;
  height: 100px;
}

.detailer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.detailer > p {
  padding-left: 10px;
  padding-right: 10px;
}

.headicon {
  padding: 10px;
}

h2 {
  margin-left: 45%;
}

.search {
  margin-left: 40%;
}

/* .heading {
  margin-right: 10%;
  margin-top: 30px;
} */
